___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [1]:
import numpy as np
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('cleaned_ri',index_col='stop_datetime')

FileNotFoundError: [Errno 2] No such file or directory: 'cleaned_ri'

In [13]:
df.head(2)

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [14]:
df.violation.unique()

array(['Speeding', 'Equipment', 'Other', 'Moving violation',
       'Registration/plates', 'Seat belt'], dtype=object)

In [15]:
df.violation.value_counts(normalize = True)

Speeding               0.559186
Moving violation       0.187747
Equipment              0.127449
Other                  0.050389
Registration/plates    0.041262
Seat belt              0.033967
Name: violation, dtype: float64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [16]:
female = df[df.driver_gender== 'F']
female

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20,RI-2005-00016,RI,2005-02-24,01:20,Zone X3,200,F,1983.0,22.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
2005-03-14 10:00,RI-2005-00019,RI,2005-03-14,10:00,Zone K3,300,F,1984.0,21.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2005-03-29 23:20,RI-2005-00026,RI,2005-03-29,23:20,Zone K3,300,F,1971.0,34.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-06-06 13:20,RI-2005-00035,RI,2005-06-06,13:20,Zone X4,500,F,1986.0,19.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-06-18 16:30,RI-2005-00037,RI,2005-06-18,16:30,Zone X4,500,F,1964.0,41.0,W,...,False,NaN,NaN,False,Arrest Driver,True,30+ Min,False,False,Zone X4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31 21:59,RI-2015-47051,RI,2015-12-31,21:59,Zone K3,300.0,F,1994.0,21.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2015-12-31 22:09,RI-2015-47054,RI,2015-12-31,22:09,Zone K3,300.0,F,1992.0,23.0,H,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone K3
2015-12-31 22:10,RI-2015-47055,RI,2015-12-31,22:10,Zone X4,300.0,F,1989.0,26.0,L,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone X4
2015-12-31 22:10,RI-2015-47056,RI,2015-12-31,22:10,Zone X4,300.0,F,1989.0,26.0,L,...,False,NaN,NaN,False,Arrest Driver,True,0-15 Min,False,False,Zone X4
2015-12-31 22:39,RI-2015-47060,RI,2015-12-31,22:39,Zone K3,300.0,F,1976.0,39.0,W,...,False,NaN,NaN,False,Citation,False,16-30 Min,True,False,Zone K3

In [17]:
male = df[df.driver_gender== 'M']
male.sample(5)

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2013-11-24 13:29,RI-2013-40420,RI,2013-11-24,13:29,Zone X3,200,M,1995.0,18.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X3
2012-11-02 06:45,RI-2012-53712,RI,2012-11-02,06:45,Zone K3,300,M,1987.0,25.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2010-04-25 02:34,RI-2010-14475,RI,2010-04-25,02:34,Zone X4,500,M,1987.0,23.0,W,...,False,NaN,NaN,False,Arrest Driver,True,16-30 Min,True,False,Zone X4
2014-01-28 00:22,RI-2014-03924,RI,2014-01-28,00:22,Zone X4,500,M,1992.0,22.0,H,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2015-05-10 06:07,RI-2015-15143,RI,2015-05-10,06:07,Zone K3,300,M,1990.0,25.0,H,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [18]:
female.violation.value_counts()

Speeding               86198
Moving violation       17911
Equipment              14039
Registration/plates     5649
Other                   3791
Seat belt               3550
Name: violation, dtype: int64

In [19]:
female.violation.value_counts(normalize=True)

Speeding               0.657308
Moving violation       0.136581
Equipment              0.107055
Registration/plates    0.043077
Other                  0.028908
Seat belt              0.027071
Name: violation, dtype: float64

In [20]:
male.violation.value_counts()

Speeding               182538
Moving violation        72317
Equipment               47211
Other                   20425
Registration/plates     14181
Seat belt               12774
Name: violation, dtype: int64

In [21]:
male.violation.value_counts(normalize=True)

Speeding               0.522364
Moving violation       0.206948
Equipment              0.135102
Other                  0.058450
Registration/plates    0.040581
Seat belt              0.036555
Name: violation, dtype: float64

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [22]:
female_and_speeding = female[female.violation == 'Speeding']
female_and_speeding.head()

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20,RI-2005-00016,RI,2005-02-24,01:20,Zone X3,200,F,1983.0,22.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
2005-03-14 10:00,RI-2005-00019,RI,2005-03-14,10:00,Zone K3,300,F,1984.0,21.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2005-03-29 23:20,RI-2005-00026,RI,2005-03-29,23:20,Zone K3,300,F,1971.0,34.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-06-06 13:20,RI-2005-00035,RI,2005-06-06,13:20,Zone X4,500,F,1986.0,19.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-07-06 11:22,RI-2005-00038,RI,2005-07-06,11:22,Zone X1,0,F,1973.0,32.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X1

In [23]:
male_and_speeding = male[male.violation == 'Speeding']
male_and_speeding.head()

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-18 08:15,RI-2005-00007,RI,2005-01-18,08:15,Zone K3,300,M,1965.0,40.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-01-23 23:15,RI-2005-00009,RI,2005-01-23,23:15,Zone K3,300,M,1972.0,33.0,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-01-24 20:32,RI-2005-00010,RI,2005-01-24,20:32,Zone K1,600,M,1987.0,18.0,W,...,True,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1

In [24]:
female.stop_outcome.value_counts()

Citation            117675
Warning               8214
Arrest Driver         2679
No Action             1042
N/D                    864
Arrest Passenger       664
Name: stop_outcome, dtype: int64

In [25]:
female_and_speeding.stop_outcome.value_counts(normalize=True)

Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
Name: stop_outcome, dtype: float64

In [26]:
male_and_speeding.stop_outcome.value_counts()

Citation            172432
Warning               6587
Arrest Driver         2878
Arrest Passenger       231
N/D                    216
No Action              194
Name: stop_outcome, dtype: int64

In [27]:
male_and_speeding.stop_outcome.value_counts(normalize=True)

Citation            0.944636
Warning             0.036086
Arrest Driver       0.015767
Arrest Passenger    0.001265
N/D                 0.001183
No Action           0.001063
Name: stop_outcome, dtype: float64

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [59]:
df.sample(3)

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
120613,RI-2007-48192,RI,2007-11-23,12:48,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
410909,RI-2013-43800,RI,2013-12-26,14:10,Zone X4,NaN,NaN,NaN,500,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X4
161969,RI-2008-36345,RI,2008-09-25,06:53,Zone X4,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X4

In [51]:
df.search_conducted.dtype

dtype('O')

In [55]:
df.search_conducted = df.search_conducted.astype(bool)

In [57]:
df.search_conducted.dtype.type

numpy.bool_

In [60]:
df.search_conducted.value_counts(normalize=True)

False    0.965131
True     0.034869
Name: search_conducted, dtype: float64

In [61]:
df.search_conducted.mean()

0.03486886895921174

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [64]:
female = df[df.driver_gender== 'F']
female.sample(2)

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
367218,RI-2013-00109,RI,2013-01-01,17:08,Zone X4,NaN,NaN,NaN,500,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
254708,RI-2010-36612,RI,2010-11-06,08:55,Zone X4,NaN,NaN,NaN,500,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [66]:
female.search_conducted.mean()

0.018751239152648355

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [32]:
male.search_conducted.mean()

0.04379217389811301

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [33]:
df.groupby(df.driver_gender)['search_conducted'].sum()

driver_gender
F     2459
M    15303
Name: search_conducted, dtype: int64

In [34]:
df.groupby(df.driver_gender)['search_conducted'].mean()

driver_gender
F    0.018751
M    0.043792
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [37]:
df.groupby([df.driver_gender,df.violation]).search_conducted.mean()

driver_gender  violation
F              Equipment              0.040245
               Moving violation       0.038021
               Other                  0.045898
               Registration/plates    0.054700
               Seat belt              0.017746
               Speeding               0.007738
M              Equipment              0.070916
               Moving violation       0.059156
               Other                  0.046120
               Registration/plates    0.103589
               Seat belt              0.031705
               Speeding               0.026630
Name: search_conducted, dtype: float64

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [38]:
df.groupby([df.violation, df.driver_gender]).search_conducted.mean()

violation            driver_gender
Equipment            F                0.040245
                     M                0.070916
Moving violation     F                0.038021
                     M                0.059156
Other                F                0.045898
                     M                0.046120
Registration/plates  F                0.054700
                     M                0.103589
Seat belt            F                0.017746
                     M                0.031705
Speeding             F                0.007738
                     M                0.026630
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [39]:
df.search_type.value_counts()

Incident to Arrest                                          6998
Probable Cause                                              4989
Reasonable Suspicion                                        1141
Inventory                                                   1101
Protective Frisk                                             879
Incident to Arrest,Inventory                                 649
Incident to Arrest,Probable Cause                            552
Probable Cause,Reasonable Suspicion                          334
Probable Cause,Protective Frisk                              221
Incident to Arrest,Protective Frisk                          158
Incident to Arrest,Inventory,Probable Cause                  151
Inventory,Probable Cause                                     132
Protective Frisk,Reasonable Suspicion                         83
Incident to Arrest,Inventory,Protective Frisk                 77
Incident to Arrest,Probable Cause,Protective Frisk            74
Inventory,Protective Frisk                                    52
Incident to Arrest,Reasonable Suspicion                       49
Probable Cause,Protective Frisk,Reasonable Suspicion          31
Incident to Arrest,Probable Cause,Reasonable Suspicion        31
Inventory,Reasonable Suspicion                                17
Inventory,Probable Cause,Protective Frisk                     14
Incident to Arrest,Inventory,Reasonable Suspicion             12
Incident to Arrest,Protective Frisk,Reasonable Suspicion       8
Inventory,Probable Cause,Reasonable Suspicion                  8
Inventory,Protective Frisk,Reasonable Suspicion                1
Name: search_type, dtype: int64

In [40]:
df["frisk"] = df.search_type.str.contains("Protective Frisk", na = False)

In [42]:
df.frisk.value_counts()

False    478986
True       1598
Name: frisk, dtype: int64

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [44]:
search_conducted = df[df.search_conducted]

In [45]:
search_conducted.frisk.mean()

0.08996734601959239

In [46]:
search_conducted.groupby("driver_gender").frisk.mean()

driver_gender
F    0.066694
M    0.093707
Name: frisk, dtype: float64